{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/add_movie_page.css' %}">
    <section class="Add_Movie">
        <form class="input_form" action="{% url 'pybo:add_movie_submit' %}" method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {# FORM ERROR #}
            {% if form.errors %}
                <div class="form_error">
                {% for field in form %}
                    {% if field.errors %}
                    <div class="form_error_cover">
                        <strong>{{ field.label }}</strong>
                        {{ field.errors }}
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
            {% endif %}
            {# FORM ERROR #}
            <div class="input_cover">
                <div class="input_labels">
                    <div>Title</div>
                    <div>Year</div>
                    <div>poster</div>
                    <div>Tags</div>
                </div>
                <div>
                    <input class="add_input input_title" name="title" value="{{ form.title.value|default_if_none:'' }}">
                    <input class="add_input input_year" name="year" type="number" value="{{ form.year.value|default_if_none:'' }}">
                    <input class="add_input input_image" name="poster" type="file">
                    <div class="input_tags">
                        <div class="tags_selected_cover">
                            <div class="tags_selected">
                            </div>
                        </div>
                        <div class="tags_preview_cover">
                            <div class="tags_preview">
                                {% for tag in movie_tags %}
                                <div class="preview_tag_cover">
                                    <div class="preview_tag">{{ tag }}</div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <input class="tags_input" name="tags" type="hidden" value="{{ form.tags.value|default_if_none:'' }}">
                    <input class="add_input input_submit" type="submit" value="Submit">
                </div>
            </div>
        </form>
    </section>
    <script src="{% static 'script/add_movie_page.js' %}"></script>
{% endblock %}