{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/add_movie_page.css' %}">
    <section class="Add_Movie">
        <div class="input_cover">
            <div class="input_labels">
                <div>Title</div>
                <div>Year</div>
                <div>poster</div>
                <div>Tags</div>
            </div>
            {#      add movie form      #}
            <form class="input_inputs" action="{% url 'pybo:add_movie_submit' %}" method="post">
                {% csrf_token %}
                <input class="add_input input_title" name="title">
                <input class="add_input input_year" name="year" type="number" value="2023">
                <input class="add_input input_image" name="poster" type="file">
                <div class="input_tags">
                    <div class="tags_selected_cover">
                        <div class="tags_selected">
                        </div>
                    </div>
                    <div class="tags_preview_cover">
                        <div class="tags_preview">
                            <div class="preview_tag_cover">
                                <div class="preview_tag">Action</div>
                                <div class="preview_tag_delete">
                                    <div class="delete"></div>
                                </div>
                            </div>
                            <div class="add_tag">
                                <div class="plus_cover"><div class="plus"></div></div>
                                <div class="add_tag_cover">
                                    <label><input class="add_tag_input" type="text"></label>
                                    <input class="add_tag_submit" type="button" value="Add">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input class="tags_input" name="tags" type="hidden">
                <input class="add_input input_submit" type="submit" value="Submit">
            </form>
        </div>
    </section>
    <script src="{% static 'script/add_movie_page.js' %}"></script>
{% endblock %}