{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/edit_movie_view.css' %}">
    <section class="Edit_view">

        <form class="input_form" action="{% url 'pybo:edit_movie_submit' movie_info.id %}" method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {# FORM ERROR #}
            {% if form.errors %}
                <div class="form_error">
                {% for field in form %}
                    {% if field.errors %}
                    <div class="form_error_cover">
                        <strong>{{ field.label }}</strong>
                        {{ field.errors }}
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
            {% endif %}
            {# FORM ERROR #}
            <div class="input_cover">
                <div class="input_labels">
                    <div>Title</div>
                    <div>Year</div>
                    <div>Poster</div>
                    <div>Rating</div>
                    <div>Link</div>
                    <div>Tags</div>
                </div>
                <div>
                    <input class="add_input input_title" name="title" value="{{ movie_info.title }}">
                    <input class="add_input input_year" name="year" type="number" value="{{ movie_info.year }}">
                    <input class="add_input input_image" name="poster" type="file">
                    <input class="add_input input_rating" name="rating" type="number" max="10" min="1" value="{{ movie_info.rating }}">
                    <input class="add_input input_link" name="link" type="url" value="{{ movie_info.link }}">
                    <div class="input_tags">
                        <div class="tags_selected_cover">
                            <div class="tags_selected">
                                {% for tag in this_tags %}
                                    <div class="selected_tag">{{ tag }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tags_preview_cover">
                            <div class="tags_preview">
                                {% for tag in movie_tags %}
                                <div class="preview_tag_cover">
                                    <div class="preview_tag">{{ tag }}</div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <input class="tags_input" name="tags" type="hidden" value="{{ movie_info.tags }}">
                    <input class="add_input input_submit" type="submit" value="Submit">
                </div>
            </div>
        </form>

    </section>
    <script src="{% static 'script/edit_movie_view.js' %}"></script>
{% endblock %}