{% extends 'base.html' %}
{% block content %}
    <section class="Single_view">
        <div class="Single_view_movie">
            <img class="Single_view_background" src="posters/Dune_2021.jpg" alt="Poster_background">
            <div class="Single_view_background_blur"></div>
            <div class="Single_view_inner">
                <img class="Single_view_img" src="posters/Dune_2021.jpg" alt="poster">
                <h1 class="title">Dune</h1>
                <div class="info">
                    <h2 class="year">2021</h2>
                    <div class="Genre_tags">
                        <a class="Genre_tag" href="posters/Dune_2021.jpg">Action</a>
                        <a class="Genre_tag" href="posters/Dune_2021.jpg">Adventure</a>
                        <a class="Genre_tag" href="posters/Dune_2021.jpg">Drama</a>
                    </div>
                </div>
            </div>
        </div>



        <div class="Single_view_movie">
            <img class="Single_view_background" src="posters/Home_Alone_1990.webp" alt="Poster_background">
            <div class="Single_view_background_blur"></div>
            <div class="Single_view_inner">
                <img class="Single_view_img" src="posters/Home_Alone_1990.webp" alt="poster">
                <h1 class="title">Home Alone</h1>
                <div class="info">
                    <h2 class="year">2021</h2>
                    <div class="Genre_tags">
                        <a class="Genre_tag" href="posters/Home_Alone_1990.webp">Action</a>
                        <a class="Genre_tag" href="posters/Home_Alone_1990.webp">Adventure</a>
                        <a class="Genre_tag" href="posters/Home_Alone_1990.webp">Drama</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="Single_view_movie">
            <img class="Single_view_background" src="posters/Spiderman_Into_The_Spider-Verse_2018.jpg" alt="Poster_background">
            <div class="Single_view_background_blur"></div>
            <div class="Single_view_inner">
                <img class="Single_view_img" src="posters/Spiderman_Into_The_Spider-Verse_2018.jpg" alt="poster">
                <h1 class="title">Spider-man : Into The Spider-verse</h1>
                <div class="info">
                    <h2 class="year">2021</h2>
                    <div class="Genre_tags">
                        <a class="Genre_tag" href="posters/Spiderman_Into_The_Spider-Verse_2018.jpg">Action</a>
                        <a class="Genre_tag" href="posters/Spiderman_Into_The_Spider-Verse_2018.jpg">Adventure</a>
                        <a class="Genre_tag" href="posters/Spiderman_Into_The_Spider-Verse_2018.jpg">Drama</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="Single_view_movie">
            <img class="Single_view_background" src="posters/Inception_2010.jpg" alt="Poster_background">
            <div class="Single_view_background_blur"></div>
            <div class="Single_view_inner">
                <img class="Single_view_img" src="posters/Inception_2010.jpg" alt="poster">
                <h1 class="title">Inception</h1>
                <div class="info">
                    <h2 class="year">2021</h2>
                    <div class="Genre_tags">
                        <a class="Genre_tag" href="posters/Inception_2010.jpg">Action</a>
                        <a class="Genre_tag" href="posters/Inception_2010.jpg">Adventure</a>
                        <a class="Genre_tag" href="posters/Inception_2010.jpg">Drama</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}