
{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/single_view.css' %}">
    <section class="Single_view">

        {% for movie,tags in movie_info %}
            <div class="Single_view_movie">
            ./media/{{ movie.poster }}
            <img class="Single_view_background" src="{{ movie.poster.url }}" alt="Poster_background">
            <div class="Single_view_background_blur"></div>
            <div class="Single_view_inner">
                <img class="Single_view_img" src="{{ movie.poster.url }}" alt="poster">
                <h1 class="title">{{ movie.title }}</h1>
                <div class="info">
                    <h2 class="year">{{ movie.year }}</h2>
                    <div class="Genre_tags">
                        {% for tag in tags %}
                        <a class="Genre_tag">{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            </div>
        {% endfor %}

    </section>
{% endblock %}