
{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/single_view.css' %}">
    <section class="Single_view">
    {% for movie,tags in movie_info %}
            <div class="Single_view_movie">
                <img class="Single_view_background" src="{{ movie.poster.url }}" alt="Poster_background">
                <div class="Single_view_background_blur"></div>
                <div class="Single_view_inner">
                    <a href="/pybo/specific/{{ movie.id }}/">
                        <img class="Single_view_img" src="{{ movie.poster.url }}" alt="poster">
                    </a>
                    <h1 class="title">{{ movie.title }}</h1>
                    <div class="info">
                        <div class="info_left">
                            <h2 class="year">{{ movie.year }}</h2>
                            <div class="tags">
                                {% for tag in tags %}
                                <a class="tag" href="{% url 'pybo:list_tag' tag %}">{{ tag }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="info_right">
                            <h2 class="rating">&#9733; {{ movie.rating }} / 10</h2>
                            <a class="link" href="{{ movie.link }}" target="_blank">IMDb</a>
                        </div>
                    </div>
                </div>
            </div>
    {% endfor %}
    </section>
{% endblock %}