{% extends 'base.html' %}
{% include "nav.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/specific_view.css' %}">
    <section class="Specific_view">
        <div class="view_cover">
            <a class="poster_cover" href="{{ movie_info.poster.url }}">
                <img class="poster" src="{{ movie_info.poster.url }}" alt="poster">
            </a>

            <h1 class="title">{{ movie_info.title }}</h1>
            <div class="info">
                <h2 class="year">{{ movie_info.year }}</h2>
                <div class="tags">
                {% for tag in tags %}
                    <a class="tag" href="{% url 'pybo:tag' tag %}">{{ tag }}</a>
                {% endfor %}
                </div>
                <div class="rating">★ {{ movie_info.rating }} / 10</div>
                <a class="link" href="{{ movie_info.link }}" target="_blank">IMDb</a>
            </div>

            <div class="edit">Edit Info</div>
        </div>
    </section>
{% endblock %}