:root{
    --header-heihgt: 50px;
}

*{
    border-radius: 10px;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    background: #181818;
}

section{
    width: 100%;
    height: calc(100% - var(--header-heihgt));
    margin-top: var(--header-heihgt);
}

a{
    color: white;
}