:root{
    --header-height: 50px;
}

*{
    border-radius: 10px;
    font-family: "Arial";
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    background: #181818;
}
body::-webkit-scrollbar{
    display: none;
}

section{
    width: 100%;
    height: calc(100% - var(--header-height));
    margin-top: var(--header-height);
}

a{
    text-decoration: none;
    color: white;
}