.Gallery_view{
    display: flex;
    justify-content: center;
}

.Gallery_view_grid{
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 400px;
    grid-row-gap: 20px;
}

.Gallery_view_movie{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.image{
    /*width: 500px;*/
    height: 300px;
    object-fit: cover;
    object-position: 0 -30px;
}
.title{
    height: fit-content;
    margin: 10px 0 0 10px;
    text-align: left;
    font-size: 24px;
    color: white;
}
.info{
    height: fit-content;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.year{
    width: fit-content;
    font-size: 16px;
    font-weight: normal;
    color: white;
}
.rating{
    width: fit-content;
    font-size: 16px;
    color: white;
}