
.Single_view{
    text-align: center;
}
.Single_view_movie{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Single_view_background{
    width: 80%;
    height: calc(100% - var(--header-height));
    position: absolute;
    border-radius: 0;
    object-fit: cover;
}
.Single_view_background_blur{
    width: 80%;
    height: calc(100% - var(--header-height));
    position: absolute;
    backdrop-filter: blur(150px);
    border-radius: 0;
    background: rgba(100, 100, 100, 30%);
}
.Single_view_inner{
    position: absolute;
}
.Single_view_inner > .img_cover{
    width: 80%;
    height: 80%;
    margin-top: 30px;
}
.Single_view_img{
    width: 500px;
    height: 700px;
    object-fit: cover;

    box-shadow: 0 0 10px black;
}
.title{
    width: 500px;
    margin: 10px 0;
    padding: 0 10px;
    text-align: left;
    font-size: 30px;
    color: white;
}
.info{
    width: 500px;
    height: 40px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.year{
    padding: 0 10px;
    text-align: right;
    font-size: 16px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.73);
}
.Genre_tags{
    text-align: left;
}
.Genre_tag{
    margin-left: 5px;
    padding: 3px 10px;
    border-radius: 30px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
.Genre_tag:hover{
    background: rgba(255, 255, 255, 0.19);
}
.rating{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.73);
}
.IMDB_link{
    padding: 5px;
    border-radius: 5px;
    background: #f3c318;
    color: black;
    font-family: "Arial Black";
    font-size: 13px;
}