{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style/nav.css' %}">
<nav>
    <span class="head_content left">
        <span class="header_link">
            <a href="{% url 'pybo:single_view' %}">Single</a>
        </span>
        <span class="header_link">
            <a href="{% url 'pybo:gallery_view' %}">Gallery</a>
        </span>
        <span class="header_link">
            <a href="{% url 'pybo:list_view' %}">List</a>
        </span>
        <span class="header_link">
            <a href="{% url 'pybo:add_movie_view' %}">Add Movie</a>
        </span>
    </span>
    <span class="head_content middle">
        <span>
            <a href="{% url 'pybo:main_view' %}">Movie Site</a>
        </span>
    </span>
    <span class="head_content right">
        <form method="get" action="{% url 'pybo:search' %}">
            <input class="search" type="text" name="term" value="{{  kw|default_if_none:'' }}" placeholder="Search">
            <input class="submit" type="submit" value="Q">
        </form>
    </span>

</nav>