{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'nav.css' %}">
<nav>
    <span class="head_content left">
        <span class="header_link">
            <a href="/pybo/single">Single</a>
        </span>
        <span class="header_link">
            <a href="/pybo/gallery">Gallery</a>
        </span>
        <span class="header_link">
            <a href="/pybo/list">List</a>
        </span>
        <span class="header_link">
            <a href="/pybo/genre">Genre</a>
        </span>
        <span class="header_link">
            <a href="/pybo/add_movie">Add Movie</a>
        </span>
    </span>
    <span class="head_content middle">
        <span>
            <a href="/pybo/">Movie Site</a>
        </span>
    </span>
    <span class="head_content right">
        <label>
            <input placeholder="Search">
        </label>
    </span>
</nav>