{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'nav.css' %}">
<nav>
    <span class="head_content left">
        <span class="header_link">Single</span>
        <span class="header_link">Gallery</span>
        <span class="header_link">List</span>
        <span class="header_link">Genre</span>
        <span class="header_link">Add Movie</span>
    </span>
    <span class="head_content middle">
        <span>Movie Site</span>
    </span>
    <span class="head_content right">
        <label>
            <input placeholder="Search">
        </label>
    </span>
</nav>